body {
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
.bg {
  height: 100vh;
  width: 100vw;
  z-index: -50;
}
.start {
  position: relative;
  z-index: 50;
  font-size: 25px;
  color: red;
  bottom: 13vh;
  font-family: "Press Start 2P", cursive;
}
.cont {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.start {
  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {
    color: GREY;
  }
  to {
    color: black;
  }
}
